body{
  background: black;
  margin-top: 100px;
}

.login{
  /*para centar en automatico*/
  margin: 0 auto;
  /*hacer mas ancho al 200px*/
  width: 200px;
  /*le añade bordo en color morado*/
  border: 1px solid purple;
  /*le añade espacio ala pagina*/
  padding: 10px;
  /*le añade sombra de color morado*/
  box-shadow: 0px 0px 5px purple;
  animation: sombreado 10s infinite;
}

@keyframes sombreado {
  50%{
    box-shadow: 0 0 30px pink;
  }
}

.login__username,
.login__password{
/*le quitaba borders que traia el elemento*/
box-sizing: border-box;
/*hace mas ancho al 100%*/
width: 100%
/*le quita el border*/
border: 0;
/*color del border de abajo en rojo*/
border-bottom: 1px solid purple;
/*margen de 15 px hacia adentro*/
margin-bottom: 15px;
/*le quita el fondo*/
background: none;
/*le da color blanco a las letras*/
color: white;
}

.login__password{

}

.login__submit{
width: 100%;
background: purple;
color: white;
border: 0;
border-radius: 5px;
padding: 10px;
}
